version: '2'

services:
    bitdon8_proxy:
      build:
        context: ../
      ports:
        - "8888:8888"
      environment:
        XMRWASP_WSPORT: '8888'
        XMRWASP_URL: xmrpool.eu:3333
        XMRWASP_LOGIN: 4AnqK9CTbTuJZjeNRjiEJ6dxqWy3RQRzmiNtvFk1n7RMCfSA4dJ2t7pY43oXbtCZSQex2uqvmqbqFS4CCGjByEwwJ7LJuns
        XMRWASP_PASSWORD: x
        XMRWASP_DEBUG: 'true'

    bitdon8_webserver:
        image: httpd:2.4
        ports:
          - "80:80"
        volumes:
          - ./:/usr/local/apache2/htdocs
        logging:
            options:
                max-size: "50"

